.container {
    flex: 3;
    position: relative;
    overflow: hidden;
    padding-top: 66%;
    min-width: min(100%, 400px);
}

.iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}