.container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: var(--space-md) var(--space-md);
    width: 100%;
    margin-top: var(--space-xl);
}

.list {
    counter-reset: item;
    list-style: none;
    width: 100%;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: var(--space-sm) var(--space-sm);
}

.listElement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: var(--text-md);
    font-weight: 500;
}

.description {
    margin-top: var(--space-xs);
    font-size: var(--text-sm);
}