.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.mainContent {
  flex-basis: fit-content;
  flex-shrink: 0;
  margin: var(--space-xl) 4rem var(--space-lg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
}

.footer {
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  background-color: #c5c5c5;
  width: 100%;
}

.footer p {
  text-align: center;
}

.title {
  margin: 0 0 48px;
  line-height: 1.15;
  font-size: 3rem;
  text-align: center;
}

@media only screen and (min-width: 800px) and (min-height: 600px) {
  .title {
    font-size: 4rem;
  }
}