.form {
    display: flex;
    width: 100%;
    justify-content: center;
}

.input-height {
    height: var(--space-lg);
}

.input {
    flex: 1;
    max-width: 300px;
    margin-right: var(--space-sm);
    border-radius: calc(var(--text-xxxl) / 4);
    border: 1px solid var(--gray);
    composes: input-height;
}

.button {
    flex: initial;
    border: 1px solid var(--gray);
    padding: 0 var(--space-sm);
    composes: input-height;
}
.button:hover {
    cursor: pointer;
}